<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/santhosh/IdeaProjects/qatesting/pom.xml">
        <classes>
            <class name="test.SampleCodes">
                <methods>
                    <include name="findFibonocci"/>
                    <include name="findDuplicates"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>